#project {
  color: var(--primary-text-color);
  padding: 2rem 0 2rem;
}

#project h1 {
  margin: 2rem 0 1rem;
  text-align: center;
}

#project .pro-image {
  background-color: var(--primary-color-dark);
  border-radius: 0.4rem;
  color: var(--primary-color-light);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
#project .pro-image img {
  border: 0 none;
  width: 100%;
}
#project .pro-image p {
  text-align: center;
  padding-top: 0.6rem;
}

#project h3 {
  margin: 1.5rem 1rem 0.5rem;
}
#project p {
  margin: 0 1rem;
  padding-top: 0.5rem;
  text-align: justify;
}
#project p a,
#project p a:active,
#project p a:visited {
  color: var(--divider-color);
  padding-left: 2rem;
  font-size: 1rem;
  text-decoration: none;
}
#project p a:hover {
  color: var(--primary-color-light);
}

#project ul {
  margin: 0 1rem;
  padding-left: 2.5rem;
}
#project li {
  padding: 0.2rem 0;
  text-align: justify;
}
