/* Styles for application */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  font-family: var(--font-main);
}

.container {
  width: 80%;
  max-width: var(--big-size);
  margin: 0 auto;
}

.mt-6 {
  margin-top: 6rem;
}
